 
 body{
    font-family:Arial;
    background:linear-gradient(#BAFFBA, white);
    background-repeat:no-repeat;
    background-size: auto;
 }

 #game{
    margin-left:auto;
    margin-right:auto;
    margin-top: 160px;
    width: 20%;
 }

 #turn{
    background-color:lightgrey;
    padding: 20px;
    width: 270px;

}

#field{
    background-color:lightgrey;
    border-spacing:0px;
    height:300px;
    position: relative;
}

#field tr{
    height:100px;
}


#field tr td button{
    background-color:grey;
    font-size:80px;
    color:white;
    width:100px;
    height:100px;
    padding:0px;
    margin:0px;
    outline:none;
}

#field tr td button:hover{
    background-color:lightgrey;
}

#field tr td button:active{
    background-color:white;
}


#menu{ 
    background-color: darkgrey;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    color: #EEEEEE;
}

#menu nav{
    margin-left:auto;
    margin-right:auto;
    width: 35%;
}
.menu{
    border:none;
    background:linear-gradient(lightgreen, #AAFFAA);
    /*padding:20px 80px;*/
    width: 220px;
    height: 60px;
    color: #444444;
    margin: 0px 5px;
    font-size: 16px;
 
}

.menu2{
    border:none;
    background:linear-gradient(lightgreen, #AAFFAA);
    /*padding:20px 80px;*/
    width: 150px;
    height: 60px;
    color: #444444;
    margin: 0px 5px;
    font-size: 16px;
 
}

.menu:focus{
    background-color:green;
}

.menu:hover{
    background: #AAFFAA;
    color: black;
}


#bottom{
    background-color:lightgrey;
    color:black;
    width: 50px;
    height:20px;
    padding:10px;
    margin: 25px 0px;
}

#bottom a{
    text-decoration:none;
    color:black;
}